# Python virtual environment
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Node modules and build output
frontend/node_modules/
frontend/dist/
frontend/.env

# Editors and system files
.vscode/
.idea/
*.log
Thumbs.db
.DS_Store

# Folder Berkas (File dokumen besar)
Berkas/

